<!DOCTYPE html>
<html>
<head>
    <title>Conversor de Moeda</title>
</head>
<body>
    <h1>Conversor de Moeda</h1>
    <form method="POST">
        <label for="moeda_de">Converter de:</label>
        <select id="moeda_de" name="moeda_de">
            {% for moeda in moedas_conhecidas %}
                <option value="{{ moeda }}">{{ moeda }} ({{ moedas_conhecidas[moeda] }})</option>
            {% endfor %}
        </select>
        <br>
        <label for="moeda_para">Converter para:</label>
        <select id="moeda_para" name="moeda_para">
            {% for moeda in moedas_conhecidas %}
                <option value="{{ moeda }}">{{ moeda }} ({{ moedas_conhecidas[moeda] }})</option>
            {% endfor %}
        </select>
        <br>
        <label for="valor_origem">Digite o valor de origem:</label>
        <input type="text" id="valor_origem" name="valor_origem" required>
        <input type="submit" value="Converter">
    </form>
    <br>
    <a href="https://github.com/moviessjk/conversor_de_moedas"  target="_blank">Link_para_codigo</a>
    <a href="https://moviessjk.pythonanywhere.com"  target="_blank">Link_para_site</a>
    <a href="https://www.youtube.com/watch?v=cN8mhQ84Nwk"  target="_blank">Link_para_video</a>
</body>
</html>
